<div class="container">

    <h1 style="font-weight: 100">Nombre de tu Pokemon:</h1>

    <h4>Descripción: {{description}}</h4>
    <p></p>
    <p><strong>Speed: </strong> {{speed}} | <strong> Attack: </strong>{{attack}} | <strong> Life: </strong>{{life}}</p>
    <p><strong>Owner: </strong>{{ownerId}}</p>

    <hr>

    <img class="pokemonIMG" src ={{imageURL}} alt="pokemon">
{{#if isAdmin}}
    <a href="" class="btn btn-danger">Delete</a>
    <a href="/pokemons/update/{{_id}}" class="btn btn-primary">Edit</a>
{{/if}}
    <br>
    <br>


    <a href="/" class="btn btn-dark">HOME</a>

</div>