<div class="container">


    <h1 style="font-weight: 100">Índice de los pokemons</h1>

    <!-- ***** CREA UNA FICHA DE LISTA POR CADA POKEMON **** -->
    {{#each pokemons}}
    <hr>
    <a href="/pokemons/{{_id}}" class="btn btn-sm btn-dark">Ver detalles</a>
    <h4>Nombre del Pokemon {{name}}</h4>
    <p>Descripción del Pokemon {{description}}</p>
    <small><strong>Speed: </strong> {{speed}} | <strong>Attack: </strong> {{attack}} | <strong>Life:
        </strong>{{life}} |</small>
<<<<<<< HEAD
        <img src={{imageURL}} height= "4rem">
=======
        <img src={{imageURL}}  height= "150px">
>>>>>>> 80c266b11e207b33b90539fd8306602e7d13dca0
    <hr>

    {{/each}}