<div class="container">

    <h1 style="font-weight: 100">Nombre de tu Pokemon:</h1>
    <h2 style="font-family: Verdana; color:blue">{{name}}</h2>

    <h1 style="font-weight: 100">Descripción:</h1> <h3 style="color:red">{{description}}</h3>
    <br>
    <h3> Speed:  {{speed}} |  Attack: {{attack}} |  Life: {{life}} </h3>
    <h3><strong>Owner: </strong>{{ownerId}}</h3>

    <hr>

    <img src ={{imageURL}}  height= "350px" alt="pokemon">
    <br>
    <br>
{{#if isAdmin}}
    <a href="/pokemons/update/{{_id}}" class="btn btn-primary">Edit</a>
{{/if}}
    <a href="/" class="btn btn-dark">HOME</a>

</div>